    .navbar-header {
        background-image: url(/assets/images/logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        a {
            width: 160px;
        }
    }